@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Nunito", sans-serif;
}

header {
  height: 12.8vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 1px 1px 7px gray;
}
header nav {
  width: 17.5vw;
  height: 3.3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul a {
  text-decoration: none;
  color: #242424;
}
header ul a:hover {
  border-bottom: 2px solid #fca60f;
}

main {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: space-evenly;
}

.firstContainer {
  width: 34.3vw;
  height: 48.3vh;
  display: flex;
  flex-direction: column;
}
.firstContainer p {
  font-size: 36px;
  font-weight: 700;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideIn 1s ease forwards;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.firstContainer button {
  width: 16vw;
  height: 7vh;
  background-color: #FCA60F;
  color: white;
  border: none;
  margin-top: 20px;
  border-radius: 8px;
  cursor: pointer;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}
.firstContainer button:hover {
  transform: scale(1.1);
}
.firstContainer .icons {
  display: flex;
  gap: 10px;
}
.firstContainer .icons-items {
  width: 18px;
  align-items: end;
  justify-content: end;
  margin-top: 35px;
  transition: transform 0.3s;
}
.firstContainer .icons-items:hover {
  transform: scale(1.5);
}

.secondContainer {
  width: 12vw;
  height: 48.3vh;
}
.secondContainer img {
  width: 12vw;
  transform: scale(1);
  transition: transform 0.3s ease;
}
.secondContainer img:hover {
  transform: scale(1.2);
  filter: blur(2px);
}

@media (max-width: 650px) {
  header {
    height: 15.9vh;
    display: flex;
    flex-direction: column;
  }
  header nav {
    width: 50vw;
  }
  .firstContainer {
    position: fixed;
    height: 11.6vh;
    width: 80vw;
  }
  .firstContainer p {
    font-size: 25px;
    text-align: center;
  }
  .firstContainer button {
    position: relative;
    width: 50vw;
    padding: 20px;
    margin: auto;
    top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
  }
  .firstContainer button:active {
    transform: scale(1);
  }
  .firstContainer .icons {
    position: relative;
    margin: auto;
    margin-top: 150px;
  }
  .secondContainer img {
    display: none;
  }
}
@media (max-width: 1000px) {
  header {
    height: 15.9vh;
    display: flex;
    flex-direction: column;
  }
  header nav {
    width: 50vw;
  }
  .firstContainer {
    position: fixed;
    top: 200px;
    height: 11.6vh;
    width: 80vw;
  }
  .firstContainer p {
    font-size: 25px;
    text-align: center;
  }
  .firstContainer button {
    position: relative;
    width: 40vw;
    padding: 20px;
    margin: auto;
    top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
  }
  .firstContainer button:active {
    transform: scale(1);
  }
  .firstContainer .icons {
    position: relative;
    margin: auto;
    margin-top: 200px;
  }
  .secondContainer img {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */